* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding: 0%;
  color: black;
  text-align: center;
  line-height: 200%;
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 25px 0px 0px 0px;
  background:
    lightblue url("../images/DSC_0378copy.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 72px;
  letter-spacing: 10;
}

h2 {
  letter-spacing: 0.3em;
}

h3 {
  letter-spacing: 0.3em;
}

.tagline {
  font-size: 25px;
  color: white;
}

address p {
  color: white;
  display: inline-block;
  margin-right: 55px;
  font-style: normal;
}

address a {
  text-decoration: none;
  color: white;
}

.extra {
  list-style-type: none;
  padding: 5px, 10px, 5px, 10px;
  width: 45%;
}

.cont {
  display: inline;
}

.rel_skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rel_skill ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  padding: 0;
}

.rel_skill li {
  list-style: none;
  margin: 20px;
  background-color: #ffbf00;
  border-radius: 5px;
  flex-basis: 15%;
  min-width: 35%;
}

.alexa-flex-wrapper,
.api-flex-wrapper,
.orderbook-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 23vw;
}

.alexa-proj-desc,
.alexa-proj-img,
.api-proj-desc,
.api-proj-img,
.orderbook-proj-desc,
.orderbook-proj-img {
  flex-basis: 25%;
  align-self: center;
}

.alexa-proj-desc,
.api-proj-img,
.orderbook-proj-desc {
  margin-right: 10%;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.button {
  background-color: aquamarine;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 45%;
  color: black;
  flex-basis: 75%;
  margin: 1vw;
}

footer {
  height: 25%;
  width: 100%;
  padding-top: 5px;
  background-color: rgb(0, 0, 0);
  border-top: solid #FFBF00 5px;
  color: rgb(255, 255, 255);
  margin-top: 45px;
}

footer address {
  font-style: normal;
}

.nav {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1vw;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  flex-basis: 25%;
}

.nav li a {
  text-decoration: none;
}

.nav li a:hover {
  color: aquamarine;
}

.nav li a:visited {
  color: rgb(255, 255, 255);
}

.about-me p {
  margin: 5rem;
}

.tagline-container {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  border-radius: 10px;
  padding: 0.75rem;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  h1 {
    line-height: 2rem;
    margin: 0.5rem;
    font-size: 2rem;
  }

  .me-img {
    max-width: 50%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .tagline {
    font-size: 1rem;
  }

  .rel_skill li {
    min-width: 100%;
  }

  .alexa-proj-desc,
  .alexa-proj-img,
  .api-proj-desc,
  .api-proj-img,
  .orderbook-proj-desc,
  .orderbook-proj-img {
    min-width: 100%;
    margin: 0;
  }

  .alexa-proj-img {
    order: 1;
  }

  .alexa-proj-desc {
    order: 2;
  }

  .orderbook-proj-desc {
    order: 2;
  }

  .orderbook-proj-img {
    order: 1;
  }

  address p {
    width: 100%;
    margin: 0;
    font-size: 1rem;
  }

  .nav {
    padding: 0;
  }

  .nav li {
    width: 100%;
    padding: 0;
  }
}